{% extends 'base.html' %}
{% block title %}{% endblock title %}
 {% block page-content %}
 {% load static %}



  <!--hero-->
  <section class="home__image">
    <div class="hero_page">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="image-overlay">
            <h1 class="animate__animated animate__fadeInDown">Contact Us</h1>
            <p class="animate__animated animate__fadeInUp">Feel free to ask your queries</p>
          </div>
        </div>
      </div>
      <div class="slideshow">
        <div class="slide active">
          <img src="{% static 'images/c (1).jpg'%}" alt="Slide Image 1">
        </div>
        <div class="slide">
          <img src="{% static 'images/c (2).jpg'%}" alt="Slide Image 2">
        </div>
        <div class="slide">
          <img src="{% static 'images/c (3).jpg'%}" alt="Slide Image 3">
        </div>
      </div>
    </div>
  </section>
  <!-- CONTENT -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-animate">
          <div class="card-body">
            <h5 class="card-title">Email Address</h5>
            <p class="card-text">
                <a href="mailto:hilldrive.in@gmail.com">hilldrive.in@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-animate">
          <div class="card-body">
            <h5 class="card-title">Contact Number</h5>
            <p class="card-text">
                <a href="tel:+91-8829952535">+91-8829952535</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-animate">
          <div class="card-body">
            <h5 class="card-title">Address</h5>
            <p class="card-text">
                <a href="https://www.google.com/maps?q=Hill+drive,+PWD+parking,+Gulab+Bagh,+Udaipur,+Rajasthan">Hill drive, PWD parking, Gulab Bagh, Udaipur, Rajasthan</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--map-->

  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5131.264128911923!2d73.69002519025292!3d24.577057085418655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3967e54720f82b75%3A0x8c480bd67e4c1d39!2sHill%20Drive!5e0!3m2!1sen!2sin!4v1685429356842!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

   
<!-- jQuery -->

{% endblock page-content %}

{% block script %}
    <script>
    $(window).scroll(function() {
      $('.card').each(function() {
        var position = $(this).offset().top;
        var scrollPosition = $(window).scrollTop() + $(window).height();
        if (scrollPosition > position) {
          $(this).addClass('card-animate');
        }
      });
    });
  </script>
  {% endblock script %}
