  {% extends 'base.html' %}

  {% block title %}Hill Drive- self drive car rental service{% endblock title %}
  {% block page-content %}
{% load static %}
  <!-- HOME SECTION -->
  <section class="home__image">
    <div class="hero_page">
      <div class="row">
        <div class="col-md-8 offset-md-2">
        </div>
      </div>
      <div class="slideshow">
        <div class="slide active">
          <img src= " {% static 'images/bg-1.jpg' %}" alt="Slide Image 1">
        </div>
        <div class="slide">
          <img src= " {% static 'images/bg-2.jpg' %}" alt="Slide Image 2">
        </div>
        <div class="slide">
          <img src= " {% static 'images/bg-3.jpg' %}" alt="Slide Image 3">
        </div>
        <div class="slide">
          <img src= " {% static 'images/bg-4.jpg' %}" alt="Slide Image 4">
        </div>
      </div>
    </div>
  </section>

  <!-- BOOKING SELECTOR -->
  <div class="image-overlay"> 
      <h1 class="animate__animated animate__fadeInDown">Welcome to Hill drive</h1>          
      <p class="animate__animated animate__fadeInUp"><b>Rent a car for your next adventure</b></p>   
    <form class="home__search" action="shop.html">
      <div class="home__group">
        <label for="search1">City</label>
        <select class="main__select" name="city_id">
          <option value="4">UDAIPUR</option>
        </select>
      </div>
      <div class="home__group" style="flex:1">
        <label for="search2">Choose Pickup & Drop-Off Date</label>
        <input type="text" autocomplete="off" name="datetimes" placeholder="Enter Pickup and Drop date" required />
        <input type="hidden" name="pdate">
        <input type="hidden" name="ddate">
      </div>
      <button type="submit"><span>Search</span></button>
    </form>
    
    <div id="popup" class="popup">
      <p>Minimum booking duration is 12 hours.</p>
    </div>
  </div> 

 <!--CAR DISPLAY SECTION-->

<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <span class="subheading"><h3>What We Offer</h3></span>
        <h2 class="mb-2">Featured Vehicles</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card rounded ftco-animate">
          <img class="card-img-top" src="{% static 'images/car-1.jpg' %}" alt="Car Image 1">
          <div class="card-body">
            <h5 class="card-title">Scorpio Classic</h5>
            <p class="card-text">Mahindra</p>
            <p class="card-price">₹4800/day</p>
            <div class="button-container">
              <a href="#" class="btn btn-primary">Book Now</a>
              <a href="#" class="btn btn-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded ftco-animate">
          <img class="card-img-top" src="{% static 'images/car-2.jpg'%}" alt="Car Image 2">
          <div class="card-body">
            <h5 class="card-title">Polo</h5>
            <p class="card-text">VW</p>
            <p class="card-price">₹2800/day</p>
            <div class="button-container">
              <a href="#" class="btn btn-primary">Book Now</a>
              <a href="#" class="btn btn-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded ftco-animate">
          <img class="card-img-top" src="{% static '/images/car-3.jpg' %}" alt="Car Image 3">
          <div class="card-body">
            <h5 class="card-title">Baleno</h5>
            <p class="card-text">Suzuki-Nexa</p>
            <p class="card-price">₹2400/day</p>
            <div class="button-container">
              <a href="#" class="btn btn-primary">Book Now</a>
              <a href="#" class="btn btn-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded ftco-animate">
          <img class="card-img-top" src="{% static 'images/car-5.jpg'%} " alt="Car Image 3">
          <div class="card-body">
            <h5 class="card-title">Swift</h5>
            <p class="card-text">Suzuki</p>
            <p class="card-price">₹2600/day</p>
            <div class="button-container">
              <a href="#" class="btn btn-primary">Book Now</a>
              <a href="#" class="btn btn-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded ftco-animate">
          <img class="card-img-top" src="{% static 'images/car-4.jpg'%} " alt="Car Image 3">
          <div class="card-body">
            <h5 class="card-title">RitZ</h5>
            <p class="card-text">Maruti</p>
            <p class="card-price">₹2400/day</p>
            <div class="button-container">
              <a href="#" class="btn btn-primary">Book Now</a>
              <a href="#" class="btn btn-secondary">Details</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more col-md-4 columns for additional vehicles -->
    </div>
  </div>
</section>
 
 <!--ABOUT US SECTION-->
 
 <section class="ftco-section ftco-about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{% static "images/about.jpg" %}');">
      </div>
      <div class="col-md-6 wrap-about ftco-animate" style="padding: 10px; margin-top: 10px;">
        <div class="heading-section heading-section-white pl-md-5">
          <span class="subheading"><b>About us</b></span>
          <h2 class="mb-4"><b>Welcome to HILL Drive</b></h2>

          <p>Welcome to Hill Drive, Udaipur's premier self-drive car rental company, established in 2022. With our commitment to excellence and customer satisfaction, we have quickly emerged as the fastest-growing company in the field of car rentals in Rajasthan. 
      At Hill Drive, we understand the importance of convenience and freedom when it comes to exploring the beautiful city of Udaipur. Our mission is to provide top-notch, hassle-free car rental services that empower our customers to discover the city at their own pace and on their terms.
      <p>We take immense pride in our diverse fleet of well-maintained, high-quality vehicles, ranging from compact cars to spacious SUVs. Our cars are equipped with state-of-the-art technology and safety features to ensure a comfortable and secure journey for our valued customers. Whether you are a solo traveler, a family on vacation, or a group of friends embarking on an adventure, we have the perfect vehicle to suit your needs.</p>
          <p><a href="#" class="btn btn-primary">Search Vehicle</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock page-content %}