<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="index.html">Hill Drive</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
           </li> 
            <li class="nav-item active">
            <a class="nav-link" href="/login ">login</a>
          </li>
          </li>
        </ul>
      </div>
    </nav>
  </div>