{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block page-content %}
{% load static %}
{% block style %}
<style>
  .banner {
    width: 100%;
  }
</style>
{% endblock style %}

</head>
<body>
 
  <!--banner-->
  <div class="banner">
    <img src="{%static 'images/bnr-3.jpg'%}" alt="Image Banner">
    <div class="banner-text">
      <h1 class="animate__animated animate__fadeInDown">Welcome to Hill Drive</h1>
      <p class="animate__animated animate__fadeInUp">Register Fast and get a chance to get off on the first booking</p>
    </div>
  </div>
  <!--form-->
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="form-container">
        <h1>User Registration</h1>
        <form class="form"  method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for= {{form.name.label_id}} > {{form.name.label_tag}} </label>
            <input type="text" name= {{form.name.name}} maxlength={{ form.fields.name.max_length }} class="form-control" id="{{ form.name.id_for_label }}">
          </div>

          {% if form.errors.name %}
							<para style="color:red">{{form.errors.name}}</para>
					{% endif %}

          <div class="form-group">
            <label for={{ form.username.label_id}}>{{form.username.label_tag}}</label>
            <input type="text" name={{form.username.name}} maxlength={{ form.fields.username.max_length }} required class="form-control" id="{{form.username.id_for_label}}">
            <small class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
          </div>

          {% if form.errors.username %}
							<para style="color:red">{{form.errors.username}}</para>
					{% endif %}

          <div class="form-group">
            <label for={{ form.email.label_id}}>{{form.email.label_tag}}</label>
            <input type="email" name={{form.email.name}} autofocus required maxlength={{ form.fields.email.max_length }} class="form-control" id="{{form.email.id_for_label}}">
          </div>

          {% if form.errors.email %}
          <para style="color:red">{{form.errors.email}}</para>
          {% endif %}

          <div class="form-group">
            <label for={{ form.password1.label_id}}> {{form.password1.label_tag}} </label>
            <input type="password" name={{form.password1.name}} autocomplete="new-password"  class="form-control" id="{{form.password1.id_for_label}}">
            <small class="form-text text-muted">
              Your password can’t be too similar to your other personal information.<br>
              Your password must contain at least 8 characters.<br>
              Your password can’t be a commonly used password.<br>
              Your password can’t be entirely numeric.
            </small>
          </div>

          {% if form.errors.password1 %}
          <para style="color:red">{{form.errors.password1}}</para>
          {% endif %}

          <div class="form-group">
            <label for={{ form.password2.label_id}} >{{form.password2.label_tag}}</label>
            <input type="password" name={{form.password2.name}} autocomplete="new-password" class="form-control" id="{{form.password2.id_for_label}}">
            <small class="form-text text-muted">Enter the same password as before, for verification.</small>
          </div>

          {% if form.errors.password2 %}
          <para style="color:red">{{form.errors.password2}}</para>
          {% endif %}

          <div class="form-group">
            <label for= {{ form.phone_number.label_id}} >{{form.phone_number.label_tag}}</label>
            <input type="number" name={{form.phone_number.name}} required class="form-control" id="{{form.phone_number.id_for_label}}">
          </div>
          {% if form.errors.phone_no %}
          <para style="color:red">{{form.errors.phone_no}}</para>
          {% endif %}

          <div class="form-group">
            <label for={{ form.drivingLicenseNo.label_id}}>{{form.drivingLicenseNo.label_tag}}</label>
            <input type="file" name={{form.drivingLicenseNo.name}} class="form-control-file" accept="image/*" id="{{form.drivingLicenseNo.id_for_label}}">
          </div>
          {% if form.errors.drivingLicenseNo %}
          <para style="color:red">{{form.errors.drivingLicenseNo}}</para>
          {% endif %}

                   
          <input type="submit" id="register" value="Register" class="btn btn-primary">
      </div>
    </div>
  </div>
  {% endblock page-content %}