
/* Custom Styles */
body {
    background-color: var(--pale-purple-pantone);
    color: var(--independence);
    font-family: 'Roboto', sans-serif;
}
  
  .btn-primary {
    background-color: var(--blue-jeans);
    border-color: var(--blue-jeans);
  }
  
  .btn-primary:hover {
    background-color: var(--medium-sea-green);
    border-color: var(--medium-sea-green);
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s ease;
  }
  
  .navbar .navbar-brand {
    color: var(--white);
  }
  
  .navbar .navbar-nav .nav-link {
    color: var(--white);
  }
  
  .home__image {
    position: relative;
  }
  
  .image-overlay {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--white);
  }
  
  .image-overlay h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 10px;
    margin-top: 210px;
  }
  
  .image-overlay p {
    font-size: 20px;
    color: var(--white);
  }
  
  .slideshow {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
/* Form */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--honey-dew);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .booking-section {
    display: grid;
    justify-content: space-between;
    align-items: center;
    
  } 

  .form-group {
    margin: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  /* About Section Styles */
  .about-section {
    padding: 100px 0;
    background-color: var(--lavender-blush);
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--independence);
    margin-bottom: 30px;
  }
  
  .about-section p {
    font-size: 16px;
    color: var(--independence);
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .about-section .btn {
    display: inline-block;
    background-color: var(--medium-sea-green);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .about-section .btn:hover {
    background-color: var(--carolina-blue);
  }
  .about-section .image-container {
    margin-top: 50px;
  }
  
  .about-section img {
    max-width: auto;
    height: auto;
  }

  /* Footer Styles */
  .footer {
    padding: 20px 0;
    background-color: var(--columbia-blue);
    text-align: center;
  }
  .footer p {
    color: var(--independence);
  }
  
  .footer a {
    color: var(--deep-cerise);
  }
  
  .footer a:hover {
    color: var(--eerie-black);
  }

.ftco-footer {
    background-color: #343a40;
    color: #fff;
    padding: 2em 0;
  }
  
  .ftco-footer a {
    color: #fff;
  }
  
  .ftco-footer a:hover {
    color: #28a745;
  }
  
  .ftco-footer .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .ftco-footer .logo span {
    color: #28a745;
  }
  
  .ftco-footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
  
  .ftco-footer ul {
    padding-left: 0;
    list-style: none;
  }
  
  .ftco-footer ul li {
    margin-bottom: 10px;
  }
  
  .ftco-footer .ftco-footer-social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .ftco-footer .icon {
    color: #fff;
    font-size: 20px;
  }
  
  .ftco-footer .text {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .ftco-footer .block-23 ul li {
    display: flex;
    align-items: center;
  }
  
  .ftco-footer .block-23 .icon {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .ftco-footer .ftco-footer-widget {
      margin-bottom: 30px;
    }
  }
    /* home form*/

    .form-overlay {
      position: left;
      top: 50%;
      left: 50%;
      padding: auto;
      transform: translate(-35%, -135%);
      text-align: center;
      z-index: 1;
    }
    .home__search {
        display: flexbox;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin-top: 10px;
        position: relative;
        z-index: -1;
        border-radius: 10px;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(210,239,255,1) 0%, rgba(255,255,255,1) 55%, rgba(244,244,244,0.7707457983193278) 100%);

        border: 0.5px solid #fff;
    }
      .home__search button {
        width: calc(100% - 40px);
        height: 50px;
        border-radius: 16px;
        background-color: #086bff;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        padding: 0 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        transition: 0.5s ease;
        transition-property: color;
      }
      .home__search button span {
        position: relative;
        z-index: 2;
      }
      .home__search button:before {
        content: '';
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(90deg, #6cc4ff 6%, #189cf4);
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none;
        border-radius: 16px;
      }
      .home__search button:hover {
        box-shadow: 3px 3px 9px rgba(55,170,247,0.3);
        color: #fff;
      }
      .home__search button:hover:before {
        opacity: 1;
      }
      .home__group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 15px 20px 10px;
        border-top: 1px solid rgba(138,148,166,0.2);
        width: 100%;
        position: relative;
      }
      .home__group:first-child {
        border-top: none;
      }
      .home__group label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 5px;
        color: #8a94a6;
        white-space: nowrap;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        width: 100%;
      }
      .home__group input {
        width: 100%;
        height: 34px;
        border-radius: 0;
        border: none;
        border-right: none;
        font-size: 16px;
        color: #33334f;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        background-color: transparent;
      }
      .home__group input::placeholder {
        color: #4e5d78;
      }
      .home__group input::-webkit-input-placeholder {
        color: #4e5d78;
      }
      .home__group input::-moz-placeholder {
        color: #4e5d78;
      }
      .home__group input:-moz-placeholder {
        color: #4e5d78;
      }
      .home__group input:-ms-input-placeholder {
        color: #4e5d78;
      }
      .home__group input::-moz-selection {
        background: #189cf4;
        color: #fff;
        text-shadow: none;
      }
      .home__group input::selection {
        background: #189cf4;
        color: #fff;
        text-shadow: none;
      }  

      .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 9999;
      }

      
    p.copyright {
        position: bottom;
        width: 100%;
        color: #fff;
        line-height: 40px;
        font-size: 1em;
        text-align: center;
        bottom:0;
    }
 
    .card {
        border: none;
        outline: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
      }
    
      .card:hover {
        transform: scale(1.05);
      }
    
      .card img {
        height: 200px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
        transition: transform 0.3s ease;
      }
    
      .card:hover img {
        transform: scale(1.1);
      }
    
      .card-body {
        padding: 20px;
      }
    
      .card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    
      .card-text {
        margin-bottom: 10px;
      }
    
      .card-price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    
      .button-container {
        display: flex;
        justify-content: center;
      }
    
      .btn {
        width: 120px;
        margin: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    
      .btn:hover {
        background-color: #333;
        color: #fff;
      }

      .banner {
        position: relative;
        width: 100%;
      }
      
      .banner img {
        width: 100%;
        z-index: 1;
      }
      
      .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
      }
      
      .banner-text h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }
      
      .banner-text p {
        font-size: 18px;
      }

      .map-container {
        position: relative;
        width: 100%;
        height: 400px;
      }
  
      .map-container iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }

      .secondary-navbar {
        background-color: rgba(255, 255, 255, 0.8);;
        overflow: hidden;
        text-align: center;
      }
  
      .secondary-navbar a {
        display: inline-block; /* Use inline-block instead of float */
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 11px;
      }
  
      .secondary-navbar a:hover {
        background-color: #ddd;
        color: black;
      }
  
      .secondary-navbar a.active {
        background-color: #4CAF50;
        color: white;
      }

      .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        
        margin-bottom: 0.5in;
      }
      
      .form-container h2 {
        margin-top: 0;
        margin-bottom: 20px;
      }
      
      .form-container label {
        display: block;
        margin-bottom: 10px;
      }
      
      .form-container input[type="text"],
      .form-container input[type="email"],
      .form-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      .form-container button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .form-container button:hover {
        background-color: #45a049;
      }

      .banner {
        width: 100%;
      }
    