{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block page-content %}


{% load static %}
<!--==================== About page ====================-->
<main class="main">
    <section class="offer section">
        <div class="offer__container container grid">
            <img src="{% static 'img/offer-bg.png'%}" alt="" class="offer__bg">

            <div class="offer__data">
                <h2 class="section__title offer__title">
                    About Us 
                </h2>

                <p class="offer__description">
                    Welcome to Hill Drive, your trusted car rental company for self-drive adventures. With Hill Drive, you can experience smooth drives and indulge in top-notch GPS navigation services. We take pride in providing reliable vehicles that ensure a hassle-free and enjoyable journey for all our customers.

            At Hill Drive, we understand the importance of exploring with confidence. That's why we offer a wide range of meticulously maintained vehicles that are ready to hit the road whenever you are. Whether you're planning a weekend getaway, a family vacation, or a business trip, our cars are equipped to meet your every need.

            Our commitment to customer satisfaction goes beyond just providing reliable vehicles. We strive to deliver exceptional service, ensuring that your experience with Hill Drive is nothing short of excellent. Our dedicated team is always ready to assist you, whether it's helping you choose the perfect car for your adventure or providing support throughout your journey.

            With our top-notch GPS navigation system, you can navigate unfamiliar roads with ease. Say goodbye to the stress of getting lost and embrace the freedom of exploring new destinations confidently. We prioritize your safety and convenience, and our GPS navigation will be your reliable guide every step of the way.

            Choose Hill Drive for your next self-drive car rental and embark on an unforgettable journey. We are here to make your travel dreams a reality, offering flexible rental options and competitive prices. Discover the scenic beauty, vibrant cities, and hidden gems of your chosen destination with the freedom and flexibility that comes with a Hill Drive rental.

            Experience the joy of the open road with Hill Drive, where every drive is a memorable adventure. Start planning your self-drive journey today and let us be your trusted companion on the road to unforgettable experiences.
                </p>
            </div>

            <img src="{% static 'img/offer.png' %} " alt="" class="offer__img">
        </div>
    </section>
  </main>  
{% endblock page-content %}