{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block page-content %}
{% load static %}
<!-- ABOUT CONTENT -->
  <section class="home__image">
    <div class="hero_page">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="image-overlay">
            <h1 class="animate__animated animate__fadeInDown">About Us</h1>
            <p class="animate__animated animate__fadeInUp">We are at your service</p>
          </div>
        </div>
      </div>
      <div class="slideshow">
        <div class="slide active">
          <img src="{% static 'images/bg_1.jpg' %}" alt="Slide Image 1">
        </div>
        <div class="slide">
          <img src="{% static 'images/bg_2.jpg' %}" alt="Slide Image 2">
        </div>
        <div class="slide">
          <img src="{% static 'images/bg_3.jpg' %}" alt="Slide Image 3">
        </div>
      </div>
    </div>
  </section>
  <!--text-->
  <section class="ftco-section ftco-about">
    <div class="container">
      <div class="row no-gutters">
    
          <div class="heading-section heading-section-white pl-md-5">
            <h2 class="mb-4"><b>Welcome to HILL Drive</b></h2>
  
            <p>Welcome to Hill Drive, Udaipur's premier self-drive car rental company, established in 2022. With our commitment to excellence and customer satisfaction, we have quickly emerged as the fastest-growing company in the field of car rentals in Rajasthan. At Hill Drive, we understand the importance of convenience and freedom when it comes to exploring the beautiful city of Udaipur. Our mission is to provide top-notch, hassle-free car rental services that empower our customers to discover the city at their own pace and on their terms. We take immense pride in our diverse fleet of well-maintained, high-quality vehicles, ranging from compact cars to spacious SUVs. Our cars are equipped with state-of-the-art technology and safety features to ensure a comfortable and secure journey for our valued customers. Whether you are a solo traveler, a family on vacation, or a group of friends embarking on an adventure, we have the perfect vehicle to suit your needs.</p>
        <p>At Hill Drive, we prioritize customer satisfaction above all else. Our dedicated team of professionals is available round-the-clock to assist you with your car rental needs, answer any queries you may have, and provide personalized recommendations to enhance your Udaipur experience. We believe in transparency and simplicity, which is why we offer competitive pricing, flexible rental periods, and straightforward terms and conditions. With our user-friendly online booking platform, reserving a car with Hill Drive is just a few clicks away. Join us on this exciting journey and unlock the freedom to explore Udaipur like never before. Experience the unparalleled service and reliability that have made Hill Drive the preferred choice for self-drive car rentals in Rajasthan.</p>
            <p><a href="index.html" class="btn btn-primary">Search Vehicle</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock page-content %}