<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        {% load static %}

        {% block style %}{% endblock style %}
        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css'%}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">

        <link rel="stylesheet" href="{% static 'css/Bookingform.css'%}">
        <!--================Date Picker Css================-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />



        <title>Hill Drive - self Drive Car Rental Platform</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        {% include 'header.html' %}



             <!--==================== page main content ====================-->

             {% block page-content %}
             
             
             {% endblock page-content %}
  
          <!--==================== FOOTER ====================-->
       {% include 'footer.html' %}
        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>
        <!--=============moment .js===============-->
        <script src="https://cdn.jsdelivr.net/momentjs/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@latest"></script>


        <!--=====================Date Picker======================-->
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker@latest"></script>

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'js/scrollreveal.min.js'%}"></script>

        <!--=============== SWIPER JS ===============
        <script src="{% static 'js/swiper-bundle.min.js'%}"></script> -->

        <!--=============== MIXITUP JS ===============-->
        <script src="{% static 'js/mixitup.min.js'%}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js'%}"></script>

        {% block script %}{% endblock script %}
    </body>
</html>