<footer class="footer section">
    <div class="shape shape__big"></div>
    <div class="shape shape__small"></div>

    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-steering-line"></i> Hill Drive
            </a>
            <p class="footer__description">
                We offer the best self drive cars of <br> 
                the most recognized brands in <br> 
                India.
            </p>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Company
            </h3>

            <ul class="footer__links">
                <li>
                    <a href="About.html" class="footer__link">About</a>    
                </li>
                <li>
                    <a href="cars.html" class="footer__link">Cars</a>
                </li>
                
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Information
            </h3>

            <ul class="footer__links">
                <li>
                    <a href="T&C.html" class="footer__link">Terms & Conditions</a>
                </li>
                <li>
                    <a href="privacypolicy.html" class="footer__link">Privacy Policy</a>
                </li>
                <li>
                    <a href="contact.html" class="footer__link">Contact us</a>
                </li>
               
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Follow us
            </h3>

            <ul class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </ul>
        </div>
    </div>

    <span class="footer__copy">
        &#169; 2023 Hill Drive. All rigths reserved
    </span>
</footer>

