<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Data Privacy policy </title>
        <style>
            .banner {
  position: relative;
  height: 200px; /* Adjust the height as needed */
  background-color: #f2f2f200;
  margin-top: 60px; /* Adjust the margin-top to leave space for the navbar */
  padding: 20px;
}

.banner-text {
  padding-left: 20px;
}

.banner-text h1 {
  color: #ffffff;
  font-size: 32px;
  margin: 0;
}
        </style>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="index.html" class="nav__logo">
                    <i class="ri-steering-line"></i>
                    Hill Drive
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link ">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="About.html" class="nav__link">About</a>
                        </li>

                        <li class="nav__item">
                            <a href="contact.html" class="nav__link">Contact</a>
                        </li>

                        <li class="nav__item">
                            <a href="cars.html" class="nav__link">Cars</a>
                        </li>

                        <li class="nav__item">
                            <a href="login.html" class="nav__link">Login</a>
                        </li>

                        <li class="nav__item">
                            <a href="register.html" class="nav__link">Register</a>
                        </li>

                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </nav>
        </header>

        <div class="banner">
            
            <div class="banner-text" padding-left: 20px>
              <h1 class="animate__animated animate__fadeInDown">Privacy policy</h1>
            </div>
          </div>
        
        <p>Last updated: <b>27/april/2023</b></p>
        <p>Hill Drive ("us", "we", or "our") operates https://www.hilldrive.in (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
        <br>
        <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
        <br>
        <p>Information Collection And Use<br>
        While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>
        
        <p>Your name, Phone number & email address
        To personalize and improve user experience</p>
        <br>
        <p>Location: Approximate location and Precise location & Precise location
        To determine the best services and available cars for you</p>
        
        <p>Log Data<br>
        Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>
        
        <p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
        
        <p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze.</p>
        
        <p>Communications<br>
        We may use your Personal Information to contact you with newsletters, marketing or promotional materials.
        </p>
        <p>Cookies
        Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
        <br>
        Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
        </p>
        <p>Security<br>
        The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
        </p>
        <p>Changes To This Privacy Policy<br>
        This Privacy Policy is effective as of 1st June 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
        <br>
        We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.
        <br>
        If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
        </p>
        <p><b>Contact Us
        If you have any questions about this Privacy Policy, please contact us.</b></p>
        
        </body>




        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="shape shape__big"></div>
            <div class="shape shape__small"></div>

            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <i class="ri-steering-line"></i> Hill Drive
                    </a>
                    <p class="footer__description">
                        We offer the best self drive cars of <br> 
                        the most recognized brands in <br> 
                        India.
                    </p>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Company
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="About.html" class="footer__link">About</a>    
                        </li>
                        <li>
                            <a href="cars.html" class="footer__link">Cars</a>
                        </li>
                        
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Information
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="T&C.html" class="footer__link">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="privacypolicy.html" class="footer__link">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="contact.html" class="footer__link">Contact us</a>
                        </li>
                       
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Follow us
                    </h3>

                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </ul>
                </div>
            </div>

            <span class="footer__copy">
                &#169; 2023 Hill Drive. All rigths reserved
            </span>
        </footer>


        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="assets/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="assets/js/swiper-bundle.min.js"></script>

        <!--=============== MIXITUP JS ===============-->
        <script src="assets/js/mixitup.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
    </body>
</html>