<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Terms & Conditions</title>
        <style>
            body {
  background-color: #f2f2f200;
  padding: 20px;
}
.offer h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  background-color: transparent;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.row pre {
  white-space: pre-wrap;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  background-color: transparent;
}

        </style>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="index.html" class="nav__logo">
                    <i class="ri-steering-line"></i>
                    Hill Drive
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="index.html" class="nav__link ">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="About.html" class="nav__link">About</a>
                        </li>

                        <li class="nav__item">
                            <a href="contact.html" class="nav__link">Contact</a>
                        </li>

                        <li class="nav__item">
                            <a href="cars.html" class="nav__link">Cars</a>
                        </li>

                        <li class="nav__item">
                            <a href="login.html" class="nav__link">Login</a>
                        </li>

                        <li class="nav__item">
                            <a href="register.html" class="nav__link">Register</a>
                        </li>

                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </nav>
        </header>
       
        <section class="offer section">
        <h1 color="Black">Terms &amp; Conditions</h1>
        <div class="row" style="padding: 20px;">
      <pre> Membership Criteria...
      
      # A member of Hill Drive Pvt. Ltd. refers to the person who has submitted his/her valid documents to Hill Drive Pvt. Ltd. while renting the vehicle.
      # The documents that will be held valid and accountable will be, a valid Driving License and an Aadhar Card of the concerned person.
      # In case of an international resident, a valid Passport, and an International Driving License (of his/her respective country) will be considered as valid documents.
      # The concerned person will be named as a valid member only when he/she has agreed to all the Terms and Conditions and Policies of Hill Drive Pvt. Ltd.
      NOTE: In any case, if any of the valid documents submitted to Hill Drive Pvt. Ltd. are found to be fake at any point, Hill Drive Pvt. Ltd. reserves full rights to take legal action against the member for fraud and forgery.
      
      Eligibility Criteria...
      
      # In order to rent a car, the person must be a valid member of Hill Drive Pvt. Ltd. (Read the Membership Criteria)
      # The member must hold both a valid Driving License and an Aadhar Card, in case of Indian resident OR both a valid Passport and Driving License of his/her respective country, in case of a foreign resident.
      # The member must be at least 18 years or above of age.
      # Members must have had no alcohol or drug-related driving violations in the past seven years.
      # There is no minimum amount of time that an individual must hold a license before becoming a member or reserving a Hill Drive vehicle.
      NOTE: In any case, if any of the valid documents submitted to Hill Drive Pvt. Ltd. are found to be fake at any point, Hill Drive Pvt. Ltd. reserves full rights to take legal action against the member for fraud and forgery.
       
      Fees Policy ...
      Security Deposit:
      # A member must pay a minimum amount of Rs. 1000, as security deposit at the moment your car is being delivered to you. 
      # This amount will be in addition to the total booking amount. 
      # Booking will be only finalized if the member pays the security deposit to Hill Drive Pvt. Ltd. 
      # The security deposit will be refunded back to you once you return the vehicle to the initial pick-up point. 
      # However, Hill Drive Pvt. Ltd. holds the right to deduct a considerable amount from the security deposit in case of violation of the late return policy, cleanliness policy, over speeding and towing or impounding charges, or returning of the vehicle at a wrong location. 
      Cancellation:
      # Cancellation made before 24 Hrs. before booking starts: 25% of the booking amount
      # Cancellation made within 24 Hrs. but greater than 6 hrs of booking start time: 40% of the booking amount
      # Cancellation made within 6 Hrs. of booking start: No refund
      # Cancellation made after booking start: No refund 
      Rescheduling:
      A booked ride cannot be rescheduled. 
      Extension Post Start:
      # A member will be charged for the number of days for which the vehicle was used plus an additional fee of Rs. 200 for each day.
      # The member must contact the company before the end time of his/her booking for extending his/her booking duration. 
      # Failing to do so will result in the member being charged double the rate for the extra hours and double the rate for the extra days, for every single hour and day.
       
      Late Return Policy ...
      # If a member returns a vehicle late, he/she will be charged for every single extra hour.
      # The charges will be equivalent to the hourly rate of the vehicle the member has booked.
      # If a member is running late by 3 hours or more and he/she doesn't contact the company for informing them, a complaint will be filed against the member and the company reserves full rights to take legal action against the member for misuse and abuse of the vehicle.
       
      Cleanliness Policy ...
      # Members must return the vehicle in a clean condition, as it was at the time of pick-up.
      # If a member fails to clean the vehicle before returning, a cleaning charge of Rs. 500 will be imposed on the member.
      # If the vehicle is returned with any visible damage, the company reserves the right to deduct the repair charges from the member's security deposit.
      
      Disclaimer ...
      
      # Hill Drive Pvt. Ltd. shall not be responsible for any kind of damage or loss done to your personal belongings.
      # Hill Drive Pvt. Ltd. shall not be responsible for any kind of accident or injury caused to the member or any third party involved.
      # The member shall be solely responsible for his/her actions and for any kind of accident or injury caused during his/her membership period.
      # Hill Drive Pvt. Ltd. reserves full rights to cancel your membership or take legal action against you if any of the documents submitted by you are found to be fake at any point.
      
      Hill Drive Pvt. Ltd.</pre>
        </div>
      </div>
      </body>









        <footer class="footer section">
            <div class="shape shape__big"></div>
            <div class="shape shape__small"></div>

            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <i class="ri-steering-line"></i> Hill Drive
                    </a>
                    <p class="footer__description">
                        We offer the best self drive cars of <br> 
                        the most recognized brands in <br> 
                        India.
                    </p>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Company
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="About.html" class="footer__link">About</a>    
                        </li>
                        <li>
                            <a href="cars.html" class="footer__link">Cars</a>
                        </li>
                        
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Information
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="T&C.html" class="footer__link">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="privacypolicy.html" class="footer__link">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="contact.html" class="footer__link">Contact us</a>
                        </li>
                       
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Follow us
                    </h3>

                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </ul>
                </div>
            </div>

            <span class="footer__copy">
                &#169; 2023 Hill Drive. All rigths reserved
            </span>
        </footer>


        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="assets/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="assets/js/swiper-bundle.min.js"></script>

        <!--=============== MIXITUP JS ===============-->
        <script src="assets/js/mixitup.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="assets/js/main.js"></script>
    </body>
</html>







